.country-card {
    max-width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.country-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.country-card > img {
    max-height: 150px;
    width: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.country-card > h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-family: 'Arial', sans-serif;
    flex-grow: 1;
}

.country-card > button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

.country-card > button:hover {
    background-color: #388E3C;
}
